@{
  Layout = "_Layout";
}

<form action="/patrons" method="post">
  <input type="text" name="last-name" placeholder="Last Name">
  <input type="text" name="first-name" placeholder="First Name">
  <button type="submit" name="button">Add Patron</button>
</form>
