@{
  Layout = "_Layout";
}

<form action="/librarian" method="post">
  <input type="text" name="name" placeholder="Title">
  <select class="" name="author">
    <option value='0'>Unknown</option>
    @foreach(var author in Library.Models.Author.GetAll())
    {
      <option value='@author.GetId()'>@author.GetLastName(), @author.GetFirstName()</option>
    }
  </select>
  <button type="submit" name="button">Add Book</button>
</form>
