@{
  Layout = "_Layout";
}

<h2>All Books</h2>

<a href="/librarian/books/new">Add a new book</a>
<a href="/librarian/authors/new">Add a new author</a>
<form action= "/librarian/search" method="post">
  <input type="text" name="search" placeholder="Search">
  <button type="submit" name="button">SEARCH</button>
</form>
<table class='table table-bordered'>
  <thead>
    <tr>
      <th>Book Name</th>
      <th>Author</th>
      <th>Copies Available</th>
      <th>Add Copy</th>
      <th>Delete Book</th>
    </tr>
  </thead>
  <tbody>
    @foreach (var book in Model)
    {
      <tr>
        <td>@book.GetName()</td>
        <td>
          @foreach(var author in book.GetAuthors())
          {
            <p>@author.GetLastName(), @author.GetFirstName()</p>
          }
        </td>
        <td>@book.GetCopyCount()</td>
        <td><a href='/librarian/add/@book.GetId()'><span class="glyphicon glyphicon-plus"></span></a></td>
        <td><a href='/librarian/remove/@book.GetId()'><span class="glyphicon glyphicon-minus"></span></a></td>
      </tr>
    }
  </tbody>
</table>
