@{
  Layout = "_Layout";
}

<form action="/new-author" method="post">
  <input type="text" name="last-name" placeholder="Last Name">
  <input type="text" name="first-name" placeholder="First Name">
  <button type="submit" name="button">Add Author</button>
</form>
